.App-header{
    background-color: #222;
    height: 80px;
    padding: 10px;
    color: white;
    text-align: center;
}

h1{
    margin: 0;
}



@media (max-width: 499px) {
    .App-header {
        text-align:left;
        height: 80px;

    }
}